<header class="header">
    <div class="container">
      <h1 class="logo">
        <img src="assets\images\brand-logo-white.svg" alt="logo">
      </h1>
      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="#" class="nav-link"></a></li>
          <li class="nav-item"><a href="#" class="nav-link"></a></li>
          <li class="nav-item"><a href="#" class="nav-link"></a></li>
          <li class="nav-item"><a href="#" class="nav-link"></a></li>
        </ul>
      </nav>
    </div>
  </header>
  