.container {
    display: flex;
  }
  
  .left {
    flex: 2.5;
    background-color: #faf8f8;
    padding: 20px;
  }
  
  .right {
    flex: 1.5;
    background-color: #faf8f8;
    padding: 20px;
  }
  